
.circulo {
    height: 300px; 
    width: 150px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin: 200px auto 300px;
}

  
  .circle-01 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgb(255, 0, 0);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 8px;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.2s;
    justify-content: column; 
    box-shadow: 0 0 20px rgb(255, 0, 0);
  }
  
  .circle-02 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgb(255, 251, 0);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 8px;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.2s;
    justify-content: column;
    box-shadow: 0 0 20px rgb(255, 251, 0);
  }

  .circle-03 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgb(0, 255, 0);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 8px;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.2s;
    justify-content: column;
    box-shadow: 0 0 20px rgb(0, 255, 0);
  }

