@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Playfair Display", serif;
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 10px;
    font-size: 30px;
}

.flex-container {
    width: 90%;
    height: 200px;
    background-color: rgb(145, 11, 56);
    margin: 0 auto 20px;
    border-radius: 8px;
    border: 6px solid rgb(73, 17, 34);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.flex-item {
    width: 80px;
    height: 80px;
    background-color: rgb(121, 20, 50);
    border: 2px solid rgb(73, 17, 34);
    margin: 8px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.justify-column {
    flex-direction: column;
}
